// MediaQueries mixin

@mixin for-size($size) {
  @if $size == phone {
    @media screen and (max-width: 500px) {
      @content;
    }
  } @else if $size == tablet {
    @media screen and (max-width: 800px) {
      @content;
    }
  } @else if $size == desktop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
}

// Typography mixins

@mixin font-1-xxl($color: $cor-12) {
  color: $color;
  font-weight: 600;
  font-size: rem(64);
  line-height: 1.12;
  font-family: $font-f-1, sans-serif;
}

@mixin font-1-xl {
  font-weight: 600;
  font-size: rem(32);
  line-height: 1.25;
  font-family: $font-f-1, sans-serif;
}

@mixin font-1-l {
  font-weight: 400;
  font-size: rem(24);
  line-height: 1.5;
  font-family: $font-f-1, sans-serif;
}

@mixin font-2-l($color: $cor-12) {
  color: $color;
  font-weight: 400;
  font-size: rem(24);
  line-height: 1.5;
  font-family: $font-f-2, sans-serif;
}

@mixin font-2-l-b {
  font-weight: 500;
  font-size: rem(24);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.015em;
  font-family: $font-f-2, sans-serif;
}

@mixin font-1-m {
  font-weight: 400;
  font-size: rem(18);
  line-height: 1.33;
  font-family: $font-f-1, sans-serif;
}

@mixin font-1-m-b($color: $cor-12) {
  color: $color;
  font-weight: 600;
  font-size: rem(18);
  line-height: 1.33;
  font-family: $font-f-1, sans-serif;
}

@mixin font-2-m {
  font-weight: 500;
  font-size: rem(18);
  line-height: 1.33;
  font-family: $font-f-2, sans-serif;
}

@mixin font-1-s {
  font-weight: 400;
  font-size: rem(16);
  line-height: 1.5;
  font-family: $font-f-1, sans-serif;
}

@mixin font-2-s {
  font-weight: 400;
  font-size: rem(16);
  line-height: 1.5;
  font-family: $font-f-2, sans-serif;
}

@mixin font-2-xs {
  font-weight: 400;
  font-size: rem(14);
  line-height: 1.43;
  font-family: $font-f-2, sans-serif;
}

@mixin font-1-xs {
  font-weight: 600;
  font-size: rem(12);
  line-height: 1.33;
  font-family: $font-f-1, sans-serif;
}
