
.bike-card {
  flex: 1;
  min-width: 280px;

  &__img {
    margin-bottom: 16px;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    @include font-1-xl($cor-11);
    
    &::before{
      content: '';
      width: 12px;
      height: 8px;
      margin-right: 8px;
      background: $cor-p1;
      transition: .2s;
      display: inline-block;
    }
  }

  &__price {
    margin-left: 20px;
    @include font-2-m($cor-8);
  }

  a:hover .bike-card__title::before {
    width: 24px
  }
}