.secondary-button {
  background: transparent;
  border: none;
  a {
    font-weight: 600;
    font-size: rem(24);
    line-height: 1.5;
    font-family: 'Poppins';
    color: $cor-p1;
    text-transform: uppercase;
    &::after {
      content: '';
      background: currentColor;
      height: 4px;
      width: 100%;
      display: block;
    }
    &:hover {
      color: $cor-0;
    }
  }
}